In [1]:
import pandas as pd
from pathlib import Path

In [4]:
data=pd.read_csv("C:/Users/sebat/ClassRepository/exercises_class/PANDAS/Class 3/bedbug_reporting.csv")
data.head()

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filing Period Start Date,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA
0,14135,117174,MANHATTAN,5,EAST 51 STREET,10022.0,14.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.758998,-73.976324,5.0,4.0,102.0,1035467.0,1.012870e+09,Midtown-Midtown South
1,806924,206329,BRONX,2400,SEDGWICK AVENUE,10468.0,128.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.864184,-73.908991,7.0,14.0,261.0,2092432.0,2.032260e+09,Kingsbridge Heights
2,14951,106899,MANHATTAN,348,EAST 62 STREET,10065.0,22.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.761862,-73.961509,8.0,5.0,110.0,1044239.0,1.014360e+09,Lenox Hill-Roosevelt Island
3,661202,407317,QUEENS,1714,GROVE STREET,11385.0,3.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.703275,-73.910772,5.0,34.0,547.0,4082197.0,4.034410e+09,Ridgewood
4,425643,423224,QUEENS,142-36,38 AVENUE,11354.0,18.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.761839,-73.826239,7.0,20.0,865.0,4113597.0,4.050208e+09,Flushing

In [14]:
new_data=data.loc[:,['Building ID', 'Borough', 'Postcode', '# of Dwelling Units',"Re-infested  Dwelling Unit Count",'Infested Dwelling Unit Count', 'Eradicated Unit Count', "Filing Date",'Latitude', 'Longitude']]
new_data

,Building ID,Borough,Postcode,# of Dwelling Units,Re-infested Dwelling Unit Count,Infested Dwelling Unit Count,Eradicated Unit Count,Filing Date,Latitude,Longitude
0,14135,MANHATTAN,10022.0,14.0,0.0,0.0,0.0,07/19/2021,40.758998,-73.976324
1,806924,BRONX,10468.0,128.0,0.0,0.0,0.0,07/29/2021,40.864184,-73.908991
2,14951,MANHATTAN,10065.0,22.0,0.0,0.0,0.0,08/09/2021,40.761862,-73.961509
3,661202,QUEENS,11385.0,3.0,0.0,0.0,0.0,08/03/2021,40.703275,-73.910772
4,425643,QUEENS,11354.0,18.0,0.0,0.0,0.0,08/05/2021,40.761839,-73.826239
...,...,...,...,...,...,...,...,...,...,...
163243,333526,BROOKLYN,11206.0,16.0,0.0,0.0,0.0,04/09/2021,40.710303,-73.950050
163244,308761,BROOKLYN,11237.0,6.0,0.0,0.0,0.0,12/27/2019,40.701077,-73.923592
163245,22918,MANHATTAN,10013.0,41.0,0.0,0.0,0.0,01/05/2021,40.719396,-74.008690
163246,896705,MANHATTAN,10069.0,270.0,0.0,0.0,0.0,12/16/2020,40.775485,-73.990230
163247,900236,STATEN ISLAND,10301.0,2.0,0.0,0.0,0.0,03/15/2021,40.618017,-74.098523

In [13]:
data.columns

Index(['Building ID', 'Registration ID', 'Borough', 'House Number',
       'Street Name', 'Postcode', '# of Dwelling Units',
       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
       'Re-infested  Dwelling Unit Count', 'Filing Date',
       'Filing Period Start Date', 'Filling Period End Date', 'Latitude',
       'Longitude', 'Community Board', 'Council District', '2010 Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

In [22]:
#esta es la soluciÃ³n segun google. habia que 
data["Filing Date"]=pd.to_datetime(data["Filing Date"])
data["Year"] = data["Filing Date"].dt.year
data.head()

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA,Year
0,14135,117174,MANHATTAN,5,EAST 51 STREET,10022.0,14.0,0.0,0.0,0.0,...,10/31/2020,40.758998,-73.976324,5.0,4.0,102.0,1035467.0,1.012870e+09,Midtown-Midtown South,2021
1,806924,206329,BRONX,2400,SEDGWICK AVENUE,10468.0,128.0,0.0,0.0,0.0,...,10/31/2020,40.864184,-73.908991,7.0,14.0,261.0,2092432.0,2.032260e+09,Kingsbridge Heights,2021
2,14951,106899,MANHATTAN,348,EAST 62 STREET,10065.0,22.0,0.0,0.0,0.0,...,10/31/2020,40.761862,-73.961509,8.0,5.0,110.0,1044239.0,1.014360e+09,Lenox Hill-Roosevelt Island,2021
3,661202,407317,QUEENS,1714,GROVE STREET,11385.0,3.0,0.0,0.0,0.0,...,10/31/2020,40.703275,-73.910772,5.0,34.0,547.0,4082197.0,4.034410e+09,Ridgewood,2021
4,425643,423224,QUEENS,142-36,38 AVENUE,11354.0,18.0,0.0,0.0,0.0,...,10/31/2020,40.761839,-73.826239,7.0,20.0,865.0,4113597.0,4.050208e+09,Flushing,2021

In [19]:
data_infestations = data.loc[(data["Infested Dwelling Unit Count"]>0),:]
data_infestations.head()

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA,Year
26,166241,317842,BROOKLYN,1751,67 STREET,11204.0,95.0,1.0,1.0,0.0,...,10/31/2020,40.618485,-73.992673,11.0,38.0,252.0,3134324.0,3.055600e+09,Bensonhurst West,2021
51,859714,381596,BROOKLYN,2518,TILDEN AVENUE,11226.0,116.0,2.0,2.0,1.0,...,10/31/2020,40.646695,-73.953723,17.0,40.0,792.0,3391660.0,3.051360e+09,Erasmus,2021
67,664411,409256,QUEENS,203-24,HOLLIS AVENUE,11412.0,20.0,20.0,0.0,0.0,...,10/31/2020,40.706724,-73.753892,12.0,27.0,508.0,4234283.0,4.109430e+09,Hollis,2021
74,163764,321872,BROOKLYN,1731,63 STREET,11204.0,4.0,4.0,4.0,4.0,...,10/31/2020,40.621180,-73.990425,11.0,38.0,248.0,3132783.0,3.055320e+09,Bensonhurst West,2021
75,163764,321872,BROOKLYN,1731,63 STREET,11204.0,4.0,4.0,4.0,4.0,...,10/31/2020,40.621180,-73.990425,11.0,38.0,248.0,3132783.0,3.055320e+09,Bensonhurst West,2021

In [21]:
#esta es la soluciÃ³n al problema. (habia que sacarle el 0 al postcode)
data_infestations["Postcode"] =data_infestations["Postcode"].fillna(0)
data_infestations["Postcode"] = data_infestations["Postcode"].astype("int64")
data_infestations.head()

C:\Users\sebat\AppData\Local\Temp\ipykernel_194012\2785772602.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_infestations["Postcode"] =data_infestations["Postcode"].fillna(0)
C:\Users\sebat\AppData\Local\Temp\ipykernel_194012\2785772602.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_infestations["Postcode"] = data_infestations["Postcode"].astype("int64")

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA,Year
26,166241,317842,BROOKLYN,1751,67 STREET,11204,95.0,1.0,1.0,0.0,...,10/31/2020,40.618485,-73.992673,11.0,38.0,252.0,3134324.0,3.055600e+09,Bensonhurst West,2021
51,859714,381596,BROOKLYN,2518,TILDEN AVENUE,11226,116.0,2.0,2.0,1.0,...,10/31/2020,40.646695,-73.953723,17.0,40.0,792.0,3391660.0,3.051360e+09,Erasmus,2021
67,664411,409256,QUEENS,203-24,HOLLIS AVENUE,11412,20.0,20.0,0.0,0.0,...,10/31/2020,40.706724,-73.753892,12.0,27.0,508.0,4234283.0,4.109430e+09,Hollis,2021
74,163764,321872,BROOKLYN,1731,63 STREET,11204,4.0,4.0,4.0,4.0,...,10/31/2020,40.621180,-73.990425,11.0,38.0,248.0,3132783.0,3.055320e+09,Bensonhurst West,2021
75,163764,321872,BROOKLYN,1731,63 STREET,11204,4.0,4.0,4.0,4.0,...,10/31/2020,40.621180,-73.990425,11.0,38.0,248.0,3132783.0,3.055320e+09,Bensonhurst West,2021