In [2]:
import pandas as pd 
import pathlib as Path

In [5]:
dataset= "C:/Users/sebat/ClassRepository/exercises_class/PANDAS/Class 2/movie_scores.csv"

In [7]:
data_file = pd.read_csv(dataset)
data_file.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [8]:
#con esto, me muestras las columnas que tengo
data_file.columns

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [9]:
data_file.describe()

,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,Metacritic_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,...,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,60.849315,63.876712,58.808219,6.519178,6.736986,4.089041,3.845205,3.042466,3.193836,2.940411,...,3.368493,3.065068,3.226027,2.972603,3.270548,3.380137,185.705479,42846.205479,3848.787671,0.243836
std,30.168799,20.024430,19.517389,1.510712,0.958736,0.540386,0.502831,1.508440,1.001222,0.975869,...,0.479368,1.514600,1.007014,0.990961,0.788116,0.502767,316.606515,67406.509171,6357.778617,0.152665
min,5.000000,20.000000,13.000000,2.400000,4.000000,3.000000,2.700000,0.250000,1.000000,0.650000,...,2.000000,0.500000,1.000000,0.500000,1.000000,2.000000,4.000000,243.000000,35.000000,0.000000
25%,31.250000,50.000000,43.500000,5.700000,6.300000,3.500000,3.500000,1.562500,2.500000,2.175000,...,3.150000,1.500000,2.500000,2.125000,3.000000,3.000000,33.250000,5627.000000,222.250000,0.100000
50%,63.500000,66.500000,59.000000,6.850000,6.900000,4.000000,3.900000,3.175000,3.325000,2.950000,...,3.450000,3.000000,3.500000,3.000000,3.500000,3.500000,72.500000,19103.000000,1446.000000,0.200000
75%,89.000000,81.000000,75.000000,7.500000,7.400000,4.500000,4.200000,4.450000,4.050000,3.750000,...,3.700000,4.500000,4.000000,4.000000,4.000000,3.500000,168.500000,45185.750000,4439.500000,0.400000
max,100.000000,94.000000,94.000000,9.600000,8.600000,5.000000,4.800000,5.000000,4.700000,4.700000,...,4.300000,5.000000,4.500000,4.500000,5.000000,4.500000,2375.000000,334164.000000,34846.000000,0.500000

In [12]:
data_file_filtro=data_file[["FILM","IMDB","IMDB_norm","IMDB_norm_round","IMDB_user_vote_count"]]
data_file_filtro=data_file_filtro.set_index("FILM")
data_file_filtro.head()

,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
FILM,,,,
Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
Cinderella (2015),7.1,3.55,3.5,65709
Ant-Man (2015),7.8,3.90,4.0,103660
Do You Believe? (2015),5.4,2.70,2.5,3136
Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560

In [20]:
#hay que referirlo al primer archivo.
dataf_filtro_2=data_file.loc[data_file["IMDB"]>7,["FILM","IMDB","IMDB_user_vote_count"]]
dataf_filtro_2.head()

                             FILM  IMDB  IMDB_user_vote_count
0  Avengers: Age of Ultron (2015)   7.8                271107
1               Cinderella (2015)   7.1                 65709
2                  Ant-Man (2015)   7.8                103660
5        The Water Diviner (2015)   7.2                 39373
8    Shaun the Sheep Movie (2015)   7.4                 12227

In [22]:
dataf_filtro_3=dataf_filtro_2.loc[dataf_filtro_2["IMDB_user_vote_count"]<20000,["FILM","IMDB","IMDB_user_vote_count"]]
dataf_filtro_3.head()

                                 FILM  IMDB  IMDB_user_vote_count
8        Shaun the Sheep Movie (2015)   7.4                 12227
9                 Love & Mercy (2015)   7.8                  5367
10  Far From The Madding Crowd (2015)   7.2                 12129
20              McFarland, USA (2015)   7.5                 13769
29         The End of the Tour (2015)   7.9                  1320

In [24]:
dataf_filtro_3.to_csv("C:/Users/sebat/ClassRepository/exercises_class/PANDAS/Class 2/unknown_movies.csv",index=False)

In [28]:
dataf_filtro_3.to_excel("C:/Users/sebat/ClassRepository/exercises_class/PANDAS/Class 2/unk_moviesx.xlsx",index=False)

ModuleNotFoundError: No module named 'openpyxl'